
{%- block form_row -%}
    <div>
        {{ form_label(form) }}
        <div class="errors">
            {{ form_errors(form) }}
        </div>
        {{ form_widget(form) }}
    </div>
{%- endblock form_row -%}

{% block checkbox_row -%}
    <div>
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row %}