{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">tune</i>admin</a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('code_box_list') }}"><i class="material-icons">list</i>Boitiers à clé</a>
    <i class="material-icons">chevron_right</i>{{ codeBox.name }}
    <i class="material-icons">list</i>Accès
{% endblock %}

{% block content %}
    <h4 class="">Liste des accès pour {{ codeBox.name }}</h4>

    <table class="responsive-table striped">
        <thead>
        <tr>
            <th>Role</th>
            <th>Nombre de membres</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for access in accesses %}
            <tr>
                <td>{{ access.name }}</td>
                <td>{{ access.code }}</td>
                <td><a href="{{ path("code_box_access_delete",{'id': access.id}) }}">supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('code_box_access_new',  {'id': codeBox.id}) }}" class="btn"><i class="material-icons left">add</i>Ajouter un accès</a>

{% endblock %}