{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">tune</i>admin</a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">list</i>boîtes mail
{% endblock %}

{% block content %}
    <h4 class="">Liste des boîtes mail</h4>

    <table class="responsive-table striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Emails</th>
            <th>Editer</th>
        </tr>
        </thead>

        <tbody>
        {% for mailbox in mailboxes %}
            <tr>
                <td>{{ mailbox.fromName }}</td>
                <td>{{ mailbox.address }}</td>
                <td><a href="{{ path("mailbox_inbox",{'id':mailbox.id}) }}">emails</a></td>
                <td><a href="{{ path("mailbox_edit",{'id':mailbox.id}) }}">editer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('mailbox_new') }}" class="btn"><i class="material-icons left">add</i>Ajouter une boîte mail</a>

{% endblock %}
